<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <!-- Input Message -->
  <h1>Add to the Stream</h1>
  <ion-card color="medium" class ="title-card">
    <ion-item>
        <ion-card color="light" class="itemCustom">
          <ion-input placeholder="Message" [(ngModel)]="message.message"></ion-input>
        </ion-card>
    </ion-item>
    <ion-item>
        <ion-card color="light" class="itemCustom">
            <ion-input placeholder="Author" [(ngModel)]="message.owner"></ion-input>
        </ion-card>
    </ion-item>
    <ion-item>    
        <ion-button class="centerItem" color="secondary" (click)="send()">Send</ion-button>
    </ion-item>
  </ion-card>
  
  <!-- Messages display -->
  <br><br>
  <h1>The Happiness Stream</h1>

  <div class="row">
    <div class="col-xs-6 col-md-4" *ngFor="let message of messages" class="background-card">
      <ion-card class="welcome-card">
        <ion-card-header>
          <ion-card-subtitle>Date: {{message.dateCreated}}</ion-card-subtitle>
          <ion-card-subtitle>Happiness Score: {{message.score}}</ion-card-subtitle>
          <ion-card-title>{{message.message}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Message from {{message.owner}} :)</p>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
    
</ion-content>
