.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.itemCustom {
  width: 100%;
  // color: #eee8d5
}

.centerItem {
  margin-left: 47%;
  // width: 5%;

}

h1 {
  margin-left: 1%;
  color: #2aa198;
}
