<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Three
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <h1>INSIDE BOX:</h1><br>
    <IMG SRC="https://media.giphy.com/media/fkGqU07CnrCbC/giphy.gif">
      <br>
    <h1>OUTSIDE BOX:</h1><br>

    <IMG SRC="https://media.giphy.com/media/3oriNNS1lufUZxzBvi/giphy.gif">
      <br>
    <IMG SRC="https://media1.giphy.com/media/11sBLVxNs7v6WA/giphy.gif">
    <br>
    <IMG SRC="https://media0.giphy.com/media/SggILpMXO7Xt6/giphy.gif">
      <br>
    <IMG SRC="https://media1.giphy.com/media/QNFhOolVeCzPQ2Mx85/giphy.gif">
      <br>
    <IMG SRC="https://media2.giphy.com/media/7NoNw4pMNTvgc/giphy.gif">
      <br>
   
</ion-content>
